{% extends "base.html" %} {% block title %}Home - Crazekart{% endblock %} {%
block content %}

<style>
  .products-container {
    margin-top: 0;
  }
  .categories-icon-container {
    display: none;
  }
</style>

<section class="banners-container">
  <div class="banners-wrapper">
    <div class="banner">
      <img
        src="{{ url_for('static', filename='assets/banner/img1.jpg') }}"
        alt="banner 1"
      />
    </div>
    <div class="banner">
      <img
        src="{{ url_for('static', filename='assets/banner/img2.jpg') }}"
        alt="banner 2"
      />
    </div>
    <div class="banner" id="b4">
      <img
        src="{{ url_for('static', filename='assets/banner/img3.jpg') }}"
        alt="banner 3"
      />
    </div>
    <div class="banner">
      <img
        src="{{ url_for('static', filename='assets/banner/img4.jpg') }}"
        alt="banner 4"
      />
    </div>
  </div>

  <button class="prev">&#10094;</button>
  <button class="next">&#10095;</button>

  <div class="dots-container"></div>
</section>

<section class="products-container">
  <h2>Best Products</h2>
  <div class="product-wrapper">
    {% if products %} {% for product in products %}
    <div class="products-card">
      {% if current_user.is_authenticated and current_user.is_admin %}
      <a href="{{ url_for('remove_best_product', id=product.id) }}">
        <button class="remove-btn">-</button>
      </a>
      {% endif %}

      <img
        src="{{ url_for('static', filename='assets/products/' + product.image + '.webp') }}"
        alt="{{ product.name }}"
      />

      <div class="product-info">
        <p class="product-title">{{ product.name }}</p>

        <p class="rating">
          {{ product.rating }}
          <span class="stars">
            {% for i in range(product.rating|int) %}
            <i class="fa fa-star"></i>
            {% endfor %} {% if product.rating - (product.rating|int) >= 0.5 %}
            <i class="fa fa-star-half"></i>
            {% endif %} {% set remaining = 5 - (product.rating|int) - (1 if
            product.rating - (product.rating|int) >= 0.5 else 0) %} {% for i in
            range(remaining) %}
            <i class="fa fa-star-o"></i>
            {% endfor %}
          </span>
        </p>

        <div class="purchase-section">
          <div>
            <span class="price">₹{{ product.price }}</span>
            <s class="light-text">₹{{ product.original_price }}</s>
            <span class="offer-percentage">{{ product.discount }}% off</span>
          </div>

          <button
            class="buy-button"
            data-id="{{ product.id }}"
            data-color="{{ product.color }}"
            data-vcolor="{{ product.vcolor }}"
            data-image="{{ product.image }}"
          >
            BUY
          </button>
        </div>
      </div>
    </div>
    {% endfor %} {% endif %}
  </div>
</section>

<section class="products-categories">
  <h2>Trending Categories</h2>

  <div class="categories-container" id="first-row">
    <div class="categories-card" id="first-card">
      <div class="categories-card-content">
        <p>
          <span class="small-text">Enjoy</span><br />
          <span class="highlight-text">With</span><br />
          <span class="faded-text">MOBILES</span>
        </p>
        <button
          class="browse-btn"
          onclick="window.location.href='{{ url_for('product_category', category='mobile') }}'"
        >
          Browse
        </button>
      </div>
      <div class="categories-card-image">
        <img
          src="{{ url_for('static', filename='assets/products/mobile/samsung.webp') }}"
          alt="mobile"
        />
      </div>
    </div>

    <div class="categories-card" id="second-card">
      <div class="categories-card-content">
        <p>
          <span class="small-text">Enjoy</span><br />
          <span class="highlight-text">With</span><br />
          <span class="faded-text">WATCHES</span>
        </p>
        <button
          class="browse-btn"
          onclick="window.location.href='{{ url_for('product_category', category='watches') }}'"
        >
          Browse
        </button>
      </div>
      <div class="categories-card-image">
        <img
          src="{{ url_for('static', filename='assets/products/watches/watches-category-image.png') }}"
          alt="watches"
        />
      </div>
    </div>

    <div class="categories-card" id="third-card">
      <div class="categories-card-content">
        <p>
          <span class="small-text">Enjoy</span><br />
          <span class="highlight-text">With</span><br />
          <span class="faded-text">HEADPHONES</span>
        </p>
        <button
          class="browse-btn"
          onclick="window.location.href='{{ url_for('product_category', category='earphones') }}'"
        >
          Browse
        </button>
      </div>
      <div class="categories-card-image">
        <img
          src="{{ url_for('static', filename='assets/products/earphones/boAt Rockerz1.webp') }}"
          alt="earphone"
          style="padding: 5px"
        />
      </div>
    </div>

    <div class="categories-card" id="fourth-card">
      <div class="categories-card-content">
        <p>
          <span class="small-text">Enjoy</span><br />
          <span class="highlight-text">With</span><br />
          <span class="faded-text">AIRPODS</span>
        </p>
        <button
          class="browse-btn"
          onclick="window.location.href='{{ url_for('product_category', category='airpodes') }}'"
        >
          Browse
        </button>
      </div>
      <div class="categories-card-image">
        <img
          src="{{ url_for('static', filename='assets/products/airpodes/boAt Airdopes115.webp') }}"
          alt="airpods"
        />
      </div>
    </div>

    <div class="categories-card" id="fifth-card">
      <div class="categories-card-content">
        <p>
          <span class="small-text">Enjoy</span><br />
          <span class="highlight-text">With</span><br />
          <span class="faded-text">SPEAKERS</span>
        </p>
        <button
          class="browse-btn"
          onclick="window.location.href='{{ url_for('product_category', category='speakers') }}'"
        >
          Browse
        </button>
      </div>
      <div class="categories-card-image">
        <img
          src="{{ url_for('static', filename='assets/products/speakers/boAt Stone 1450 1.webp') }}"
          alt="speaker"
        />
      </div>
    </div>

    <div class="categories-card" id="sixth-card">
      <div class="categories-card-content">
        <p>
          <span class="small-text">Enjoy</span><br />
          <span class="highlight-text">With</span><br />
          <span class="faded-text">SMART TVS</span>
        </p>
        <button
          class="browse-btn"
          onclick="window.location.href='{{ url_for('product_category', category='tv') }}'"
        >
          Browse
        </button>
      </div>
      <div class="categories-card-image">
        <img
          src="{{ url_for('static', filename='assets/products/TV/tv.png') }}"
          alt="tv"
        />
      </div>
    </div>
  </div>
</section>

{% endblock %}
